# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg

# Virtual envs
.venv/
venv/
env/

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Tooling caches
.mypy_cache/
.ruff_cache/

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
